body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.creative{
  color: #002868;
}
.tile-image{
  float: left;
  height: 200px;
  margin-right: 50px;
}
.left{
  float: left;
}
.card {
  width: 45%;
}
.right{
  float: right;
}
@media (max-width: 680px) {
  body {

    h1 {
      font-size: 56px;
      text-align: center;

    }

    .logo {
      height: 17px;
    }

    .tile-image {
      width: 100%;
      margin-bottom: 10px;
    }

    .card {
      width: 100%;
    }
  }
}
